@import "../../assets/css/variable.less";
.main-content{
    width:@w-main;
    margin: 0 auto;
    min-height: 800px;
    .content-1{
        height: 430px;
        width: 100%;
        background-color: #fff;
        .content-1-l{
            width:@w-left;
            min-width:@w-left;
        }
        .content-1-m{
            overflow: hidden;
            width:685px;
            .ant-carousel  .slick-slide {
                text-align: center;
                height: 410px;
                line-height: 410px;
                background: #364d79;
                overflow: hidden;
              }
              
              .ant-carousel  .slick-slide h3 {
                color: #fff;
              }
              .ant-carousel  .custom-slick-arrow {
                width: 25px;
                height: 25px;
                font-size: 25px;
                color: #fff;
                background-color: rgba(31,45,61,.11);
                opacity: 0.3;
              }
              .ant-carousel .custom-slick-arrow:before {
                display: none;
              }
              .ant-carousel  .custom-slick-arrow:hover {
                opacity: 0.5;
              }
         
        }
        .content-1-r{
            width: @w-right;
            padding:35px 0;
            .dynamicsTable{
                table{
                    font-size: 12px;
                    th{
                        font-weight:bold;
                        background-color: #fff;
                    }
                    td,th{
                        padding:5px;
                        border:none;
                    }
                }

            }
            .account-logo{
                text-align: center;
                img{
                    width:71px;
                    height:100px;
                }
            }
            .account-welcome{
                text-align: center;
                font-weight: bold;
            }
            .account-btn{
                text-align: center;
                padding:15px 0;
                .btn-login{
                    margin-right: 15px;
                }
            }
            .tabbox{
                padding-left:10px;
                .tab-pane{
                   
                }
            }
        }
    }
    .content-moudle{
        margin:20px 0;
        background-color: #fff;
        padding:20px 0;
        &.content-moudle-border{
            border:3px solid @col-border-base;
            padding-bottom: 0;
        }
        .content-moudle-title{
            margin-bottom:20px;
            margin-left:20px;
            padding-left:15px;
            font-size: 23px;
            color:@col-main;
            border-left:6px solid  @col-main;
            .more{
                font-size:13px;
                float: right;
                padding-right:20px;
            }
        }
        .echarts-map{
            width:850px;
            float: left;
        }
        .echarts-line{
            width:330px;
            float: right;
            >div{
                height:240px;
                border:3px solid @col-border-base;
                border-right:none;
                &:last-child{
                    border-bottom:none;
                }
            }
        }
        .platIndex-table{
            table{
                th{
                    font-weight:bold;
                    background-color: @col-main;
                    font-size: 16px;
                    color:#fff;
                    text-align: center;
                }
                td{
                    text-align: center;
                }
            }
        }
        .hot-pro-list{
            display: flex;
            padding:0 20px;
            .card{
                margin-right:15px;
                &:last-child{
                    margin-right:0;
                }
            }
        }
        .platNotice-list{
            padding:0 20px;
            >div{
                margin-right:15px;
                &:last-child{
                    margin-right:0;
                }
                img{
                    width: 100%;
                }
            }
            
        }
    }
}
.hot-pro-list .ant-card-body{
    padding:10px 15px;
    text-align: center;
    .name{
        width: 60px;
        padding:3px 0;
        color:#fff;
        font-size:14px;
        margin: 0 auto;
        text-align: center;
        background-color: @col-orange;
        border-radius:15px;
        margin-bottom:10px;
    }
    .ant-card-meta-description{
        font-size:12px;
    }
    .price{
        
    }
}