@import "../../assets/css/variable.less";
.main-content{
    width:@w-main;
    margin: 0 auto;
    min-height: 800px;
    .content-1{
        height: 430px;
        width: 100%;
        .content-1-l{
            width:@w-left;
            min-width:@w-left;
        }
        .content-1-m{
            overflow: hidden;
            width:685px;
            .ant-carousel  .slick-slide {
                text-align: center;
                height: 410px;
                line-height: 410px;
                background: #364d79;
                overflow: hidden;
              }
              
              .ant-carousel  .slick-slide h3 {
                color: #fff;
              }
              .ant-carousel  .custom-slick-arrow {
                width: 25px;
                height: 25px;
                font-size: 25px;
                color: #fff;
                background-color: rgba(31,45,61,.11);
                opacity: 0.3;
              }
              .ant-carousel .custom-slick-arrow:before {
                display: none;
              }
              .ant-carousel  .custom-slick-arrow:hover {
                opacity: 0.5;
              }
         
        }
        .content-1-r{
            width: @w-right;
            padding:35px 10px;
            .account-logo{
                text-align: center;
                img{
                    width:71px;
                    height:100px;
                }
            }
            .account-welcome{
                text-align: center;
                font-weight: bold;
            }
            .account-btn{
                text-align: center;
                padding:15px 0;
                .btn-login{
                    margin-right: 15px;
                }
            }
        }
    }
    .content-moudle{
        
    }
}